<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="hello.board.board.dto.BoardDTO" alias="BoardDTO"/>
        <typeAlias type="hello.board.member.dto.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="hello.board.comments.dto.CommentsDTO" alias="CommentsDTO"/>
        <typeAlias type="hello.board.board.dto.BoardMemberDTO" alias="BoardMemberDTO"/>
        <typeAlias type="hello.board.board.SearchCondition" alias="SearchCondition"/>
        <typeAlias type="java.lang.Integer" alias="Integer"/>
        <typeAlias type="java.lang.String" alias="String"/>
        <typeAlias type="java.util.Map" alias="Map"/>
        <typeAlias type="java.util.List" alias="List"/>
    </typeAliases>
</configuration>