<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardList</title>
</head>
<body>
    <h1>게시판 목록 보여주는 페이지</h1>

    <table>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>이름</td>
            <td>등록일</td>
            <td>조회수</td>
        </tr>

        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>이름</td>
            <td>등록일</td>
            <td>조회수</td>
        </tr>
    </table>
</body>
</html>