<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Board Update</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/fragment/navigation.css">
  <link rel="stylesheet" href="/css/boardUpdateForm.css">
</head>
<body>

<div th:replace="~{fragment/navigation :: navBar(${memberId})}"></div>

<div class="container">
  <h2 class="writing-header">게시판</h2>
  <form th:action="@{/board/update/{bno}(bno=${bno})}" method="post" class="inner">

    <label>
      <input name="title" type="text" th:value="${board.title}" placeholder="제목을 입력하새요.">
    </label><br>
    <label>
      <textarea name="content" rows="20" th:text="${board.content}" placeholder="내용을 입력해 주세요."></textarea>
    </label><br>

    <button type="submit" class="btn btn-modify"><i class="fa fa-edit"></i>수정</button>
  </form>
</div>

</body>
</html>