body {
    margin: 0;
    background-color: rgba(238, 238, 238, 0.8);
}

form.example {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

form.example select {
    padding: 15px;
    margin: 0 10px 0;
    font-size: 15px;
}

form.example input[type=text] {
    flex-basis: 300px;
    padding: 15px;
    float: left;
    border: 1px solid grey;
    font-size: 15px;
    background: white;
}

form.example button {
    flex-basis: 80px;
    padding: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background: #2196F3;
}

form.example button:hover {
    background: #0b7dda;
}

form.example a.btn {
    border: 1px solid gray; /* Remove borders */
    color: black; /* White text */
    padding: 13px; /* Some padding */
    margin: 0 0 0 20px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
}

form.example a.btn:hover {
    text-decoration: underline;
}

div.container {
    display: flex;
    flex-direction: row;
    padding: 50px 0 0;
}

div.left-con {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.left-con h2 {
    margin-top: 25px;
    margin-bottom: 0;
}

div.left-con hr {
    border: none;
    border-top: 2px solid lightgray;
    width: 90%;
}

div.left-con ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#category li a {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block
}

#category li a:hover {
    text-decoration: underline;
}

#hashtag {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#hashtag li {
    display: inline-block;
}

#hashtag li a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
}

#hashtag li a:hover {
    text-decoration: underline;
}

div.right-con {
    flex-grow: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.right-con > table {
    width: 90%;
    border: 1px solid #ddd;
    border-spacing: 0;
}

div.right-con tr:nth-child(even) {
    background-color: white;
}

div.right-con th, td {
    padding: 16px;
    text-align: left;
}

div.right-con th {
    color: white;
    background-color: #04AA6D;
}

div.right-con td > a {
    text-decoration: none;
    color: black;
}

div.right-con td > a:hover {
    text-decoration: underline;
}

form.howtopag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

form.howtopag button {
    padding: 0 15px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form.howtopag button.howtopag_item_pagdisabled {
    pointer-events: none;
    color: #ddd;
}

form.howtopag button.howtopag_item_pagactive {
    color: white;
    background-color: #04AA6D;
}

form.howtopag button:hover {
    background-color: #ddd;
}