body {
    margin: 0;
}

header {
    max-width: 1600px;
    min-width: 500px;
}

img.header-image {
    width: 1600px;
    height: 800px;
}

div.about {
    display: flex;
    padding: 64px 0;
}

div.about-left > img {
    padding: 12px 24px;
    width: 500px;
    height: 620px;
}

div.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
}

div.about-right > h1, h5 {
    margin: 10px 0;
}

div.about-right > h5 {
    font-size: 18px;
}

div.about-right > p {
    margin: 18px 0;
}

div.about-right > p.about-right-ref {
    opacity: 0.5;
}

footer {
    padding: 16px 0;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.7);
}

footer > p {
    margin: 10px 0;
}